:root {
  --app-height: 100%;
  --app-width: 100%;
  background-color: pink;
}

.main-page {
  display: grid;
  grid-template-rows: 10vh 80vh 10vh;
}

.header-container {
  display: flex;
  justify-content: end;
  border-bottom: 1px solid;
}

.footer-container {
  border-top: 1px solid;
}
